<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Lighttps Sample Web Application</display-name>

	<filter>
		<filter-name>LighttpsFilter</filter-name>
		<filter-class>com.github.yantzu.lighttps.filter.LighttpsFilter</filter-class>
		<init-param>
			<param-name>CertificateKeys</param-name>
			<param-value>V1=file:/vagrant/nginx-1.2.9/nginx-1.2.9/conf/ras256.key</param-value>
		</init-param>
		<init-param>
			<param-name>TicketKeys</param-name>
			<param-value>V1=C66D6D516B864281,V2=8574B78FEC4E2CA0</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>LighttpsFilter</filter-name>
		<url-pattern>/lighttps/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>lighttps</servlet-name>
		<servlet-class>com.github.yantzu.lighttps.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>lighttps</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
